@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

/* Variables */
:root {
  --Lato: 'Lato', sans-serif;
  --Oswald: 'Oswald', sans-serif;
}

li {
  font-family: Oswald, sans-serif;
}

@media only screen and (max-width: 780px) {
    body {
         background-color: lightblue;
    }
}

@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}

body {
  background-color: #ffffff;
}
.navbar-pull-right {
  display: flex;
  align-items: flex-start;
}

.logo {
  height: 50px;
}

.jumbotron {
  margin-top: 200px;
  background-color: #b3b3b3;
  text-align: center;
}

#carousel-example-generic {
  margin-top: 200px;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .carousel{
   position: absolute;
   margin-bottom: 20px;
   line-height:1;
   top:0;
   left:0;
   min-width:100%;
   min-height: 200px;
   max-height: 300px; */

.item {
  font-size: 1em;
  font-family: Lato, serif;
  color: #9494b8 !important;
}

.biography {
  background-color: black;
  font-size: 2em;
  font-family: Lato, sans-serif;
  color: orange;
  padding: 75px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-top: 200px;
  text-align: center;
}

.education {
  background-color: grey;
  color: red;
  font-size: 2em;
  font-family: Oswald, sans-serif;
  padding: 75px;
  margin-bottom: 50px;
  margin-right: 100px;
  text-align: center;
  margin-top: 100px;
}

.inner-div {
  background-color: blue;
  padding: 150px;
}

.edu-language {
  text-align: left;
}

.footer-left {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 40px;
}

.footer-middle {
  padding: 15px;
  background-color: black;
  margin-top: 40px;
}

.footer-right {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 40px;
}

.copyright {
  color: #ffffff;
  margin-left: 200px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  color: #ff0000;
}
