@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

/* Variables */
:root {
  --Lato: 'Lato', sans-serif;
  --Oswald: 'Oswald', sans-serif;
}

li {
  font-family: Oswald, sans-serif;
}

@media only screen and (max-width: 780px) {
    body {
         background-color: lightblue;
    }
}

.navbar-pull-right {
  display: flex;
  align-items: flex-start;
}

.logo {
  height: 50px;
}
